In [2]:
from time import time
import configparser
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
# FILL IN THE REDSHIFT ENDPOINT HERE
# e.g. DWH_ENDPOINT="redshift-cluster-1.csmamz5zxmle.us-west-2.redshift.amazonaws.com" 
DWH_ENDPOINT="dwhcluster.caw1w43ifimt.us-west-2.redshift.amazonaws.com"
    
#FILL IN THE IAM ROLE ARN you got in step 2.2 of the previous exercise
#e.g DWH_ROLE_ARN="arn:aws:iam::988332130976:role/dwhRole"
DWH_ROLE_ARN="arn:aws:iam::126941977397:role/dwhRole"

In [4]:
%load_ext sql

In [5]:
import os 
conn_string="postgresql://{}:{}@{}:{}/{}".format('dwhuser', 'Passw0rd', DWH_ENDPOINT, 5439,'dwh')
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.caw1w43ifimt.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [6]:
%sql select count(*) from staging_events;

 * postgresql://dwhuser:***@dwhcluster.caw1w43ifimt.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8056,)]

In [7]:
%sql select count(*) from staging_songs;

 * postgresql://dwhuser:***@dwhcluster.caw1w43ifimt.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [8]:
%%sql
select count(*) from songplays;

 * postgresql://dwhuser:***@dwhcluster.caw1w43ifimt.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(319,)]

In [9]:
%sql select * from stl_load_errors;

 * postgresql://dwhuser:***@dwhcluster.caw1w43ifimt.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [10]:
%sql select * from songplays LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.caw1w43ifimt.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(41, datetime.datetime(2018, 11, 13, 19, 11, 19), 97, 'paid', 'SOQSYGY12A8C137E0F', 'AROF4LP1187FB41C51', '537', 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (105, datetime.datetime(2018, 11, 12, 23, 13, 42), 80, 'paid', 'SOSQIHH12A8C13370B', 'ARH6W4X1187B99274F', '481', 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (169, datetime.datetime(2018, 11, 12, 17, 26, 37), 73, 'paid', 'SOCJWPI12A8C13D357', 'ARRB3GQ1187FB52D14', '294', 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (233, datetime.datetime(2018, 11, 17, 23, 49, 45), 70, 'paid', 'SOKUCXB12A6D4FAC0C', 'ARHO39G1187FB4E31B', '113', 'San Antonio-New Braunfels, TX', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (297, datetime.datetime(2018, 11, 29, 16, 58, 1), 49, 'paid', 'SOGXSWA12A6D4FBC99', 'ARPFHN61187FB575F6', '1041', 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0')]

In [11]:
%sql select count(*) from users;

 * postgresql://dwhuser:***@dwhcluster.caw1w43ifimt.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(105,)]

In [12]:
%sql select count(*) from songs;

 * postgresql://dwhuser:***@dwhcluster.caw1w43ifimt.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [13]:
%sql select count(*) from artists;

 * postgresql://dwhuser:***@dwhcluster.caw1w43ifimt.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(10025,)]

In [14]:
%sql select count(*) from time;

 * postgresql://dwhuser:***@dwhcluster.caw1w43ifimt.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8023,)]

In [37]:
%%sql
select * from users where user_id = 97;

 * postgresql://dwhuser:***@dwhcluster.caw1w43ifimt.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(97, 'Kate', 'Harrell', 'F', 'paid')]

In [57]:
%%sql
select a.start_time,b.first_name,b.last_name,a.song_id,c.title,c.year,c.duration,d.artist_name,d.artist_location
from songplays a,
     users b,
     songs c,
    artists d,
     time e
where a.user_id = b.user_id
and a.song_id = c.song_id
and a.artist_id = d.artist_id
and a.start_time = e.start_time
and c.year = 1995
group by a.start_time,a.user_id,b.first_name,b.last_name,a.song_id,c.title,c.year,c.duration,d.artist_name,d.artist_location
order by a.user_id,a.song_id;

 * postgresql://dwhuser:***@dwhcluster.caw1w43ifimt.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[(datetime.datetime(2018, 11, 6, 16, 38, 15), 'Jizelle', 'Benjamin', 'SOSMXVH12A58A7CA6C', 'Pienso En Ti', 1995, 148.1922, 'Shakira', 'Barranquilla, Colombia'),
 (datetime.datetime(2018, 11, 6, 16, 38, 15), 'Jizelle', 'Benjamin', 'SOSMXVH12A58A7CA6C', 'Pienso En Ti', 1995, 148.1922, 'Shakira Featuring Wyclef Jean', 'Barranquilla, Colombia')]